body {
  font-family: sans-serif;
  margin: 0 auto;
  color: #333;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(7, 165, 165) 30%, rgb(204, 202, 200) 30% 100%);
}

.header {
  padding-top: 10px;
  padding-bottom: 30px;
  flex: 0;
}

.header-name {
  text-align: left;
  color: white;
}

.header-icons {
  width: 400px;
  text-align: right;
  margin-left: 50px;
}

.header-icons ul i {
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
}

.main {
  margin: 0 auto;
  width: 1000px;
  padding-top: 10px;
}

.avatar {
  width: 400px;
  height: 350px;
  border: 2px solid black;
}

.contacts {
  margin-right: 20px;
  color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.column {
  width: 400px;
  margin: 0 auto;
  padding: 5px;
}

.column-1-2 {
  width: 50%;
}

.column-1-3 {
  width: 33%;
  text-align: center;
}

.subtitle {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
}

.non-margin {
  margin-block-start: 0px;
}

.line {
  border-top: 3px solid black;
}

.link {
  color: black;
}

.link:hover {
  color: blue
}
